# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Custom
model_input*/
preprocessed_input/
test_scripts.sh
wandb/
pdbbind_2016/
src/p2rank/
*.sdf
*.pdb
src/exp_multi_scenario/colabfold
src/exp_multi_scenario/baselines

